<div class="modal" ng-if="d">
    <div class="modal-header">
        <h3>Update</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" ng-model="d.name" placeholder="name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Gender</label>
                <div class="controls"> 
                    <select ng-model="d.gender" ng-options="g for g in genders" ></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Age</label>
                <div class="controls">
                    <input type="text" ng-model="d.age" placeholder="age" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Company</label>
                <div class="controls">
                    <input type="text" ng-model="d.company" placeholder="company" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Phone</label>
                <div class="controls">
                    <input type="text" ng-model="d.phone" placeholder="Phone" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Email</label>
                <div class="controls">
                    <input type="text" ng-model="d.email" placeholder="Email" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" ng-click="close()">Close</a>
        <a href="#" class="btn btn-primary" ng-click="save()">Save changes</a>
    </div>
</div>